# Ignore bundler config.
/.bundle
./.git

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp/*
!/tmp/.keep
yarn-error.log
.byebug_history

# Ignore config files.
/config/database.yml

# node
/node_modules/**/


.DS_Store


# gems
/gems/**/
